* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(http://3.bp.blogspot.com/-ZA5jjEZil18/UZs7lrzRnxI/AAAAAAAAD-g/10BIByGdLbY/s1600/Beautiful-clouds-blue-sky-white-clouds_1920x1080.jpg);
    object-fit: cover;
}

.citta{
    height: 240px;
    width: 450px;
    position: relative;
    /* usare margin auto ??? */
    left: 50%;
    transform: translate(-50%);
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
    border-width:5px 5px 5px 5px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

img {
    height:100%;
    width:100%;
    object-fit: cover;
}

h1 {
    position: absolute;
    color:white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
